<style>
  .message-content {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Ubuntu, 'Open Sans', sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
    color: #353a40;
  }

  .button {
    display: block;
    background-color: #ffc71f;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #353a40;
    border: none;
    border-radius: 4px;
    width: 240px;
    padding: 10px 0;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 18px;
    margin-bottom: 34px;
  }

  .button:hover {
    background-color: #d2d9e1;
  }
</style>

<div class="message-content">
  <h3><span>Olá</span>, {{name}}</h3>
  <p>Parece que uma troca de senha para sua conta foi solicitada, se foi você mesmo,
    então clique no botão logo abaixo para escolher uma nova senha:
  </p>
  <p>
    <a class="button" href="{{link}}">Resetar minha senha</a>
  </p>
  <p>Se não foi você que fez a solicitação, então desconsidere esse email!</p>
  <p>
    Obrigado por utilizar nossos serviços!<br/>
    <strong>Suporte Equipe Notwait</strong>
  </p>
</div>
